<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StorePortal 711 SSO</display-name>
 
 <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


   <filter>
   	<filter-name>ssofilter</filter-name>
   	<filter-class>com.dfsg.sso.filter.SSOFilter</filter-class>
   	<init-param>
   		<param-name>isEnabled</param-name>
   		<param-value>true</param-value>
   	</init-param>
   </filter>
   <filter-mapping>
   	<filter-name>ssofilter</filter-name>
   	<url-pattern>/*</url-pattern>
   </filter-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

       <servlet>
            <servlet-name>Captcha</servlet-name>
            <servlet-class>net.slide.captcha.CaptchaServlet</servlet-class>
            <init-param> 
            <description>passing height</description> 
            <param-name>height</param-name> 
            <param-value>30</param-value> 
            </init-param> 
            <init-param> 
            <description>passing height</description> 
            <param-name>width</param-name> 
            <param-value>120</param-value> 
            </init-param> 
                
        </servlet>
        <servlet-mapping>
                <servlet-name>Captcha</servlet-name>
                <url-pattern>/Captcha.jpg</url-pattern>
        </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>